.view-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.chart-container {
  margin-left: 4rem;
}

.spreadsheet-wrapper {
  margin-top: 28px;
}

.download-panel-wrapper {
  position: absolute;
  right: 20px;
}

.chart-wrapper {
  margin-top: 75px;
}
