table {
  background-color: #444;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  overflow: hidden;
  width: 100%;
}

table * {
  font-family: system-ui;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #333;
  color: #f8f8f8;
  text-transform: uppercase;
  border-bottom: 2px solid #555;
  font-size: 14px;
  font-weight: 700;
}

tr:nth-child(even) {
  background-color: #333;
}

tr:nth-child(odd) {
  background-color: #4a4a4a;
}

tr:hover {
  background-color: #666;
  transition: background-color 0.3s;
}

td {
  border-bottom: 1px solid #666;
  color: white;
}

th:first-child,
td:first-child {
  padding-left: 21px;
}

#currency-type,
#dollar-input {
  margin-left: 20px;
}

.currency-label {
  font-size: 20px;
}

.currency-input {
  margin-top: 8px;
}

.form-control {
  width: auto;
}
