<div class="d-flex justify-content-center align-items-center" style="height: 60%">
  <form style="width: 25%;" (ngSubmit)="login()">
    <h2 class="mb-4">Sign in</h2>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="username">
    </div>

    <div class="form-group mt-4 mb-1">
      <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">

      <div class="d-flex justify-content-between w-100 pt-1">
        <small>
          <a (click)="onFogotPasswordClick()" id="password-link" class="form-text text-primary cursor-pointer">
            Forgot password?
          </a>
        </small>

        <small>
          <a routerLink="/profile/create" id="create-account-link" class="form-text text-primary">Create account</a>
        </small>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-4">
      <mat-spinner *ngIf="waitingResponse" diameter="18" mode="indeterminate"></mat-spinner>
      <span>Login</span>
    </button>
  </form>
</div>
