<form [formGroup]="editForm" class="form-group">
  <div>
    <label for="username">
      <strong>Username</strong>
    </label>

    <input
      type="text"
      class="form-control mt-1"
      placeholder="Username"
      name="username"
      formControlName="username"
    >
    <div>
      <small class="text-danger" *ngIf="editForm.controls['username']?.hasError('usernameTaken')">
        Username is already taken
      </small>
    </div>

    <div>
      <small class="text-danger" *ngIf="editForm.controls['username']?.hasError('usernameRequired')">
        Username is required
      </small>
    </div>

    <div>
      <small class="text-danger" *ngIf="editForm.controls['username']?.hasError('usernameTooLong')">
        Username needs to be 20 characters or less
      </small>
    </div>

    <small class="text-danger" *ngIf="editForm.controls['username']?.hasError('cannotValidateUsername')">
      Error... Please try again later
    </small>
  </div>

  <div class="mt-3">
    <label for="first-name">
      <strong>First name</strong>
    </label>

    <input
      type="text"
      class="form-control mt-1"
      placeholder="First name"
      name="first-name"
      formControlName="firstName"
    >

    <small class="text-danger" *ngIf="editForm.controls['firstName']?.hasError('maxlength')">
      First name needs to be 30 characters or less
    </small>
  </div>

  <div class="mt-3">
    <label for="last-name">
      <strong>Last name</strong>
    </label>

    <input
      type="text"
      class="form-control mt-1"
      placeholder="Last name"
      name="last-name"
      formControlName="lastName"
    >

    <small class="text-danger" *ngIf="editForm.controls['lastName']?.hasError('maxlength')">
      Last name needs to be 30 characters or less
    </small>
  </div>

  <div class="mt-3">
    <label for="passoword">
      <strong>Password (Optional)</strong>
    </label>

    <input
      type="password"
      class="form-control mt-1"
      placeholder="Password"
      name="password"
      autocomplete="new-password"
      formControlName="password"
    >

    <div>
      <small class="text-danger" *ngIf="editForm.controls['password']?.hasError('passwordTooShort')">
        Passwords must be at least 8 characters long
      </small>
    </div>

    <div>
      <small class="text-danger" *ngIf="editForm.controls['password']?.hasError('passwordTooLong')">
        Passwords needs 36 characters or less
      </small>
    </div>

    <small class="text-danger" *ngIf="editForm.controls['password']?.hasError('passwordContainsSpace')">
      Passwords cannot contain spaces
    </small>
  </div>

  <div class="mt-3">
    <label for="confirmPassword">
      <strong>
        Confirm password
      </strong>
    </label>

    <input
      type="password"
      class="form-control mt-1"
      placeholder="Confirm password"
      name="confirm-password"
      autocomplete="new-password"
      formControlName="confirmPassword"
    >
    <small class="text-danger" *ngIf="editForm.hasError('passwordsDoNotMatch')">
      Passwords do not match
    </small>
  </div>
</form>

<div class="row mt-4">
  <div clasS="col">
    <button class="btn btn-primary" [disabled]="editForm.invalid">
      <i class="fa-solid fa-save"></i>
      Save
    </button>
  </div>


  <div class="col">
    <button class="btn btn-delete-warning float-right">
      <i class="fa-solid fa-trash"></i>
      Delete
    </button>
  </div>
</div>

